html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}header {
    padding: 10px;
}



.img_perfil {
    margin-left: 5px;
    height: 40vh;
}

@media screen and (max-width: 576px) {
    /* Ajustes para telas menores, como smartphones */
    .img_perfil {
        height: 50vh; /* Ajuste de altura da imagem de perfil */
    }


}

/* Fonte personalizada */
@font-face {
    font-family: 'Gotham';
    src: url('caminho/para/o/arquivo/Gotham.woff2') format('woff2'),
         url('caminho/para/o/arquivo/Gotham.woff') format('woff');
    /* Adicione outros formatos de arquivo, se necessário */
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Gotham', sans-serif; /* Aplicar fonte personalizada */
}

/* Modo Dark */
.dark-mode {
    background-color: #333; /* Cor de fundo escura */
    color: #fff; /* Cor do texto em branco */

    /* Estilos para os cards */
    .card {
        background-color: #444; /* Cor de fundo dos cards no modo dark */
        color: #fff; /* Cor do texto nos cards no modo dark */
    }

    /* Estilos para as fontes */
    body, p, h1, h2, h3, h4, h5, h6, a, .navbar-brand, .navbar-nav .nav-link, .card-title, .card-subtitle, .card-text {
        color: #fff !important; /* Todas as fontes em branco no modo dark */
    }

    /* Estilos para os ícones */
    .fa, .fab {
        color: #fff !important; /* Cor dos ícones em branco no modo dark */
    }
    .b {
        background-color: #333;
        color: #fff;
    }
    .bg {
        background-color: #333;
    }
}

.b {
    background-color: #fff;
    border: 0px;
}
a{
    text-decoration: none;
}
/* Navbar Responsiva */
@media screen and (max-width: 991px) {
    .navbar_desktop {
        display: none !important; /* Esconder navbar desktop em telas médias */
    }

    .navbar_phone {
        display: block !important; /* Mostrar navbar phone em telas médias */
    }
    section {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
}

.footer h3 {
    color: #fff;
}

.footer p {
    color: #ccc;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: #ccc;
}
.dark-mode-footer {
    background-color: #222;
    color: #fff;
}
.repo{
    margin-left: 20px;
    margin-right: 20px;
}

