header{
    padding: 10px;
}
section{
    margin-left: 20px;
    margin-right: 20px;
}
.img_perfil{
    margin-left: 5px;
    height: 40vh;
}
@media screen and (max-width: 576px){
    .img_perfil{
        height: 50vh;
    }
    section{
        margin-left: 0px;
        margin-right: 5px;
    }
}
@font-face {
    font-family: 'Gotham';
    src: url('caminho/para/o/arquivo/Gotham.woff2') format('woff2'),
         url('caminho/para/o/arquivo/Gotham.woff') format('woff');
    /* Adicione outros formatos de arquivo, se necessário */
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'Gotham', sans-serif;
}
.dark-mode {
    background-color: #333; /* Cor de fundo escura */
    color: #fff; /* Cor do texto em branco */

    /* Estilos para os cards */
    .card {
        background-color: #444; /* Cor de fundo dos cards no modo dark */
        color: #fff; /* Cor do texto nos cards no modo dark */
    }

    /* Estilos para as fontes */
    body, p, h1, h2, h3, h4, h5, h6, a, .navbar-brand, .navbar-nav .nav-link, .card-title, .card-subtitle, .card-text {
        color: #fff !important; /* Todas as fontes em branco no modo dark */
    }

    /* Estilos para os ícones */
    .fa, .fab {
        color: #fff !important; /* Cor dos ícones em branco no modo dark */
    }
    .b{
        background-color: #333;
        color: #fff;
    }
    .bg{
        background-color: #333;
    }
    
}
.b{
    background-color: #fff;
    border: 0px;
}